<!DOCTYPE html>
<html lang="en" class="dark-theme">

<head>
	<partial name="_Head" />
</head>

<body>
	<div class="wrapper">
		<partial name="_NavBar" />
		<div class="page-content">
			@RenderBody()
		</div>
	</div>
	<div class="overlay toggle-btn-mobile"></div>
	<partial name="_Switcher" />
	<partial name="_Script" />
</body>

</html>



