@model Contact

<div class="row">
    <div class="col-12">
        <div class="card border-top border-0 border-4 border-dark">
            <div class="card-body p-5">
                <div class="card-title text-center">
                    <h1 class="mb-5 mt-2 text-light">Map Düzenle</h1>
                </div>
                <hr>
                <form class="row g-3" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <div class="col-12">
                        <label asp-for="Map" class="form-label">Map</label>
                        <input type="text" class="form-control border-start-0" asp-for="Map">
                        <span class="text-danger" asp-validation-for="Map"></span>
                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn-lg px-5">Kaydet</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <button asp-area="Management" asp-controller="Contacts" asp-action="Index" class="btn btn-danger btn-lg px-5">Kaydetme</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
