@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Syndash - Bootstrap4 Admin Template</title>
	<!--favicon-->
	<link rel="icon" href="~/Management/images/favicon-32x32.png" type="image/png" />
	<!-- loader-->
	<link href="~/Management/css/pace.min.css" rel="stylesheet" />
	<script src="~/Management/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/Management/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto&display=swap" />
	<!-- Icons CSS -->
	<link rel="stylesheet" href="~/Management/css/icons.css" />
	<!-- App CSS -->
	<link rel="stylesheet" href="~/Management/css/app.css" />
</head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
		<div class="error-404 d-flex align-items-center justify-content-center">
			<div class="container">
				<div class="card radius-15 shadow-none">
					<div class="row g-0">
						<div class="col-lg-6">
							<div class="card-body p-5">
								<h1 class="display-1"><span class="text-primary">4</span><span class="text-danger">0</span><span class="text-success">4</span></h1>
								<h2 class="font-weight-bold display-4">Bu Sayfa İçin Yetkiniz Bulunmamaktadır.</h2>
								<p>
									Lütfen Yöneticiniz ile konuşunuz.
								</p>
								<div class="mt-5">
									<a class="btn btn-lg btn-primary px-md-5 radius-30" href="javascript:history.back()">Geri Dönün</a>
									<a class="btn btn-lg btn-outline-dark ms-3 px-md-5 radius-30" asp-area="Management" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<img src="~/Management/images/errors-images/404-error.png" class="card-img" alt="">
						</div>
					</div>
					<!--end row-->
				</div>
			</div>
		</div>
		<div class="bg-white p-3 fixed-bottom border-top">
			<div class="d-flex align-items-center justify-content-between flex-wrap">
				<ul class="list-inline mb-0">
					<li class="list-inline-item">Follow Us :</li>
					<li class="list-inline-item">
						<a href="javascript:;"><i class='bx bxl-facebook me-1'></i>Facebook</a>
					</li>
					<li class="list-inline-item">
						<a href="javascript:;"><i class='bx bxl-twitter me-1'></i>Twitter</a>
					</li>
					<li class="list-inline-item">
						<a href="javascript:;"><i class='bx bxl-google me-1'></i>Google</a>
					</li>
				</ul>
				<p class="mb-0">Syndash 2021 | Developed By : <a href="https://themeforest.net/user/codervent" target="_blank">codervent</a></p>
			</div>
		</div>
	</div>
	<!-- end wrapper -->
	<!-- JavaScript -->
	<!-- Bootstrap JS -->
	<script src="~/Management/js/bootstrap.bundle.min.js"></script>

	<!--plugins-->
	<script src="~/Management/js/jquery.min.js"></script>
	<script src="~/Management/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="~/Management/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="~/Management/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
</body>

</html>